.topup {
  padding: 0 10px;
  flex: 1; // Qolgan hamma bo'sh joyni egallaydi
  overflow-y: auto; // Agar kontent ko'p bo'lsa, nav-ni yopmasdan scroll bo'ladi
  padding-bottom: 20px;
  header {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 12px;
        font-weight: lighter;
        margin-top: 6px;
      }
    }
    .right {
      width: 40%;
      border-radius: 12px;
      background: #b5fdc4;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .gif-video {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover; // Konteynerni to'liq qoplashi uchun
      }
    }
  }
  .payment-page {
    min-height: 100vh;
    color: white;

    .balance-info {
      border: 2px solid #248bda;
      border-radius: 14px;
      padding: 14px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      font-size: 15px;
      background: #17212b;

      .amount-gold {
        color: #ffd700;
        font-weight: bold;
      }
    }

    .section {
      margin-bottom: 24px;

      .section-label {
        color: #7d8b99;
        font-size: 13px;
        margin-bottom: 12px;
      }
      .amount-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; // Ikkitadan qatorga
        gap: 12px;
        margin-bottom: 12px;

        .amount-btn {
          background: #17212b;
          border: 1.5px solid rgba(255, 255, 255, 0.1);
          padding: 14px;
          border-radius: 12px;
          color: #fff;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.2s ease;
          outline: none;

          // Tanlangan holati (Select effect)
          &.active {
            background: #248bda; // Ko'k rang
            border-color: #fff; // Cheti oq chiziq (ajralib turishi uchun)
            transform: scale(1.02); // Bir oz kattalashadi
            font-weight: bold;
          }

          &:hover {
            border-color: #248bda;
          }
        }
      }

      .custom-input {
        width: 100%;
        background: #1c2733;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 12px;
        border-radius: 10px;
        color: white;
        outline: none;
        cursor: text;

        &.active {
          border-color: #248bda;
          &:focus {
            border-color: #248bda;
          }
        }
      }
    }

    .method-card {
      background: #1c2733;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 12px;
      cursor: pointer;
      transition: 0.3s;

      &.selected {
        border-color: #248bda;
        background: rgba(36, 139, 218, 0.05);
      }

      .icon-box {
        border: 1px solid #248bda;
        padding: 8px;
        border-radius: 8px;
        color: white;
      }

      .method-info {
        display: flex;
        flex-direction: column;
        .title {
          font-size: 16px;
          font-weight: 500;
        }
        .desc {
          font-size: 11px;
          color: #7d8b99;
          margin-top: 2px;
        }
      }
    }

    .main-action-btn {
      width: 100%;
      background: #248bda;
      color: white;
      border: none;
      padding: 16px;
      border-radius: 14px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px;

      &:active {
        opacity: 0.8;
        transform: scale(0.98);
      }
    }
  }
  .admin-details-expand {
    margin-top: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1px dashed #444;
    animation: slideDown 0.3s ease-out;
    p {
      // text-align: left;
      color: #afd9fa;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
    }

    .card-copy-box {
      margin-bottom: 4px;
      .card-number {
        label {
          font-size: 12px;
          color: #aaa;
        }
        .number-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #1a1a1a;
          padding: 10px;
          border-radius: 8px;
          margin-top: 5px;
          span {
            font-weight: bold;
            letter-spacing: 1px;
          }
          button {
            background: none;
            border: none;
            color: #248bda;
            cursor: pointer;
          }
          .copy-btn-wrapper {
            position: relative;
            display: flex;
            align-items: center;

            .copy-tooltip {
              position: absolute;
              bottom: 120%; // Tugmaning tepasida chiqishi uchun
              right: 0;
              background: #248bda; // Yashil rang (muvaffaqiyatli)
              color: white;
              padding: 4px 8px;
              border-radius: 4px;
              font-size: 12px;
              white-space: nowrap;
              animation: fadeIn 0.2s ease-in-out;

              // Pastga qaragan kichkina uchburchak
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 10px;
                border: 5px solid transparent;
                border-top-color: #248bda;
              }
            }
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translateY(5px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }

    .upload-section {
      .upload-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        border: 2px dashed #666;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          border-color: #248bda;
          color: #248bda;
        }
        span {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  .main-action-btn {
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: grayscale(1);
    }
    &.active {
      opacity: 1;
      cursor: pointer;
      background: #248bda;
    }
  }
  .spinner {
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
