.home {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    .hero {
        text-align: right;
        line-height: 0;
        font-weight: 100;
        font-style: italic;
        padding: 100px 16px;
        h1 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 38px;
            font-weight: 700;
        }
    }
    .main-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .pcard {
            display: flex;
            flex-direction: column;
            align-items: center;
            .card {
                width: 100%;
                height: 116px;
                display: flex;
                align-items: center;
                background: #248BDA;
                border-radius: 12px;
                justify-content: space-between;
                overflow: hidden;
                font-size: 14px;
                position: relative;
                padding-left: 12px;
                h2 {
                    font-size: 20px;
                }
                .left {
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
                .right {
                    img {
                        margin-right: -24px;
                    }
                }
            }
            a {
                width: 100%;
                background: #248BDA;
                text-decoration: none;
                color: #fff;
                border-radius: 12px;
                margin-top: 6px;
                padding: 8px 0px;
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;
            }
        }
    }
}