.settings {
  flex: 1; // Qolgan hamma bo'sh joyni egallaydi
  overflow-y: auto; // Agar kontent ko'p bo'lsa, nav-ni yopmasdan scroll bo'ladi
  padding-bottom: 20px;
  padding: 0 10px;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  .balance {
    text-align: center;
    margin: 20px 0;
    // border: 0.25px solid #248BDA;
    // background: #17212B;
    // border-top: 0.25px solid #248BDA;
    // border-bottom: 0.25px solid #248BDA;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .settings-container {
    width: 100%;
    position: relative;

    .settings-wrapper {
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .settings-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      cursor: pointer;
      transition: background 0.2s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      text-decoration: none;

      &:active {
        opacity: 0.7;
      }

      .left-side {
        display: flex;
        align-items: center;
        gap: 12px;
        .icon-wrapper {
          color: #7d8b99;
        }
        .label {
          color: #fff;
          font-size: 15px;
        }
      }

      .right-side {
        display: flex;
        align-items: center;
        gap: 6px;
        .value {
          font-weight: 500;
        } // Tanlangan qiymat ko'k rangda
        .arrow-icon {
          color: #7d8b99;
          transition: transform 0.3s;
          &.open {
            transform: rotate(180deg);
          }
        }
      }
    }

    .dropdown-menu {
      background: #1d2631;
      border-radius: 8px;
      margin-bottom: 8px;
      overflow: hidden;
      animation: fadeIn 0.2s ease-out;
      position: absolute;
      z-index: 111;
      width: 100%;

      div {
        padding: 12px 16px;
        color: #fff;
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        cursor: pointer;

        &:hover {
          background: #2b394a;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
