.premium {
  padding: 0 10px;
  flex: 1;           // Qolgan hamma bo'sh joyni egallaydi
  overflow-y: auto;  // Agar kontent ko'p bo'lsa, nav-ni yopmasdan scroll bo'ladi
  padding-bottom: 20px;
  header {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 12px;
        font-weight: lighter;
        margin-top: 6px;
      }
    }
    .right {
      width: 40%;
      border-radius: 12px;
      background: #248bda;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .gif-video {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover; // Konteynerni to'liq qoplashi uchun
      }
    }
  }
  .send {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .forWho {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        font-size: 14px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        a {
          font-size: 14px;
          color: #248bda;
          margin-left: 10px;
        }
      }
      input {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 12px;
        padding: 6px 18px;
        // font-size: 14px;
        background: #17212b;
        outline: none;
      }
    }
  }
  .main {
    margin-top: 30px;
    .premium-container {
      width: 100%;
      border-radius: 15px;
      h3 {
        margin-bottom: 12px;
        margin-left: 12px;
      }
      .options-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
      }

    .option-item {
        background-color: #17212b;
        border-radius: 14px;
        padding: 12px 18px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.2s ease;

        &.active {
          border-color: #248bda;
        }

        .radio-circle {
          width: 20px;
          height: 20px;
          border: 2px solid #3d4b58;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;

          .inner-dot {
            width: 12px;
            height: 12px;
            background-color: #248bda;
            border-radius: 50%;
          }
        }

        .premium-info {
          display: flex;
          align-items: center;
          flex-grow: 1;
          gap: 10px;

          .premium-icon {
            font-size: 1.2rem;
          }

          .amount {
            font-weight: 600;
            font-size: 1.1rem;
          }
        }

        .price {
          font-weight: 500;
        }
        .active {
          .price {
            color: #248bda;
          }
        }
    }


      .buy-button {
        width: 100%;
        background-color: #248bda;
        color: white;
        border: none;
        padding: 14px;
        border-radius: 25px;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.3s;
        &:disabled {
          background: #ccc;
          color: #888;
        }

        &:hover {
          background-color: #248bdabe;
        }
      }
    }
  }
}
