nav {
  height: 60px;
  padding: 0 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #17212b;
  width: 100%;
  max-width: 380px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid #248bda2f;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        &.active,
        &.active-link {
          color: #248bda;

          svg {
            // Lucide ikonkalari SVG bo'lgani uchun fill va stroke ishlatiladi
            stroke: #248bda; /* Chiziqlar rangi */
            fill: #248bda; /* Ikonka ichini bo'yash (ixtiyoriy) */
            width: 24px; /* O'lchami */
            height: 24px;
            // stroke: #fff;
            transition: all 0.3s ease; /* Effektlar uchun */
            .lucide-settings-icon {
              circle {
                stroke: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
