nav {
  height: 60px;
  padding: 0 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 32px;
  background: #17212b;
  width: 100%;
  position: absolute;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        img {
          width: 16px;
          height: 14px;
        }
        &.active, &.active-link {
          color: #248BDA;
          // background-color: #000;

          img {
            filter: hue-rotate(30deg);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
