* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

body {
  background: #232E3C;
}

#root {
  width: 380px;
  margin: 0 auto;
  /* padding: 0 10px; */
  position: relative;
}